html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url('assets/cursor.png'), crosshair;
}

.block {
    image-rendering: pixelated;
    width: 64px;
    margin: 0;
    padding: 0;
    user-select: none;
}

.blockbreak {
    z-index: 10;
    pointer-events: none;
}

.entity {
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    user-select: none;
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.blockstack {
    height: 100%;
    width: 64px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#debugscreen {
    position: absolute;
}

.pdebug {
    font-family: monospace;
    font-size: 15px;
    color: white;
    margin: 0px;
    padding: 3px;
    background-color: rgb(50, 50, 50, 0.3);
}

#hotbar {
    position: absolute;
    display: flex;
    background-color: rgb(85, 85, 85, 0.9);
    width: 432px;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.hotbaritem {
    outline: 1px solid black;
    height: 48px;
    width: 100%;
}

.hotbaritemselected {
    outline: 3px solid white;
    background-color: gray;
    height: 48px;
    width: 100%;
    z-index: 3;
}

.hotbaritemimage {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.blockhovered {
    outline: 2px solid black;
    z-index: 1;
}

.hasblockhovered {
    z-index: 1;
}