html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

.block {
    image-rendering: pixelated;
    width: 64px;
    margin: 0;
    padding: 0;
    user-select: none;
}

.entity {
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    user-select: none;
    position: absolute;
}

.blockstack {
    height: 100%;
    width: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}