html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: cornflowerblue;
}

.block {
    image-rendering: pixelated;
    width: 64px;
    margin: 0;
    padding: 0;
    user-select: none;
}

.entity {
    image-rendering: pixelated;
    margin: 0;
    padding: 0;
    user-select: none;
    position: absolute;
}

.blockstack {
    height: 100%;
    width: 64px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
}

#debugscreen {
    position: absolute;
}

.pdebug {
    font-family: monospace;
    font-size: 15px;
    color: white;
    margin: 0px;
    padding: 3px;
    background-color: rgb(50, 50, 50, 0.3);
}